<!-- 
Karachi Onwuanibe
karachio@bu.edu

description:
mini_insta/pictures.html 
    display the pictures for all jokes
-->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles-for-dadjokes.css' %}">
    <title>All Pictures</title>
</head>

<body>

<h1>All Pictures</h1>

<div class="picture-container">
    {% for picture in pictures %}
        <div class="picture-card">
            <a href="{% url 'picture' picture.pk %}">
                <img src="{{ picture.image_url }}" alt="Picture {{ picture.pk }}">
            </a>
        </div>
    {% endfor %}
</div>

</body>
</html>