<!--
Karachi Onwuanibe
karachio@bu.edu

description:
crochet/base.html
    base template for all pages
-->

{% load static %}

<html>
<head>
    <title>{% block title %}Crochet Projects{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles-for-crochet.css' %}">
</head>

<body>

<nav>
    <a class="brand" href="{% url 'project-list' %}">🧶 crochet</a>

    <a href="{% url 'project-list' %}">All Projects</a>
    <a href="{% url 'create-project' %}">+ New Project</a>
    <a href="{% url 'yarn-search' %}">Yarn Search</a>
    <a href="{% url 'project-search' %}">Explore</a>
</nav>

<div class="page">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>