<!-- 
Karachi Onwuanibe
karachio@bu.edu

description:
crochet/project_list.html 
    displays list of projects
-->

{% extends 'crochet/base.html' %}

{% block title %}Crochet Projects{% endblock %}

{% block content %}

<h1>All Projects</h1>

<br><br>

{% for project in projects %}
    <div>
        
        <a href="{% url 'project-detail' project.pk %}">
            {{ project.title }}
        </a>

        <p>by {{ project.creator }}</p>
        <p>{{ project.description }}</p>
        <p>
            Difficulty: {{ project.difficulty_level }}.
            Status: {{ project.project_status }}
        </p>
    </div>

    <hr>
{% empty %}
    <p>No projects yet.</p>
{% endfor %}

<a href="{% url 'create-project' %}" class="btn btn-primary">
    + Add New Project
</a>

<br><br>

{% endblock %}