<!-- 
Karachi Onwuanibe
karachio@bu.edu

description:
crochet/project_list.html 
    displays list of projects
-->



<html>
<head><title>Crochet Projects</title></head>
<body>

<h1>All Projects</h1>
<a href="{% url 'create-project' %}">Add New Project</a>

{% for project in projects %}
    <div>
        <a href="{% url 'project-detail' project.pk %}">{{ project.title }}</a>
        <p>by {{ project.creator }}</p>
        <p>{{ project.description }}</p>
        <p>Difficulty: {{ project.difficulty_level }}.  Status: {{ project.project_status }}</p>
    </div>
    <hr>
{% empty %}
    <p>No projects yet.</p>
{% endfor %}

</body>
</html>