<!--
# File: base.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/26/2026
# Description: The html file that helps build our mini_insta and 
its content for display.-->

{% load static %}
<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'styles-for-mini_insta.css' %}">
    </head>
    <body>
        <header>
            <h1>Welcome to Mini Insta</h1>
            <nav class="top-nav">
                <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    

    <footer>

    <a class="back-link" href="{% url 'show_all_profiles' %}">
        Back to All Profiles
    </a>

    {% if profiles and profiles.pk %}

        <div class="footer-nav">

            <a href="{% url 'search' profiles.pk %}">Search</a>

            <a href="{% url 'show_feed' profiles.pk %}">Home</a>

            <a href="{% url 'show_profile' profiles.pk %}">Profile</a>

            <a href="{% url 'create_post' profiles.pk %}">Create Post</a>

        </div>

    {% endif %}

</footer>
  
    </body>
</html>
 