{% load static %}
<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'styles-for-mini_insta.css' %}">
    </head>
    <body>
        <header>
            <h1>Welcome to Mini Insta</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">Show all profiles</a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    

    <footer>
            <a href="{% url 'show_all_profiles' %}">
                Back to All Profiles
            </a>
        </footer>
  
    </body>
</html>
 