<!--
# File: base.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/26/2026
# Description: The html file that helps build our mini_insta and 
its content for display.-->

{% load static %}
<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'styles-for-mini_insta.css' %}">
    </head>
    <body>
        <header>
            <h1>Welcome to Mini Insta</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">Show all profiles</a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    

    <footer>

    <a href="{% url 'show_all_profiles' %}">
        Back to All Profiles
    </a>

    <br><br>

    {% if profiles and profiles.pk %}

        <!-- HOME = FEED (new requirement) -->
        <a href="{% url 'show_feed' profiles.pk %}">
            Home
        </a>

        <br><br>

        <!-- Profile link (new requirement) -->
        <a href="{% url 'show_profile' profiles.pk %}">
            Profile
        </a>

        <br><br>

        <!-- Create post (existing working feature) -->
        <a href="{% url 'create_post' profiles.pk %}">
            Create Post
        </a>

    {% endif %}

</footer>
  
    </body>
</html>
 