<!--
# File: show_post.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/28/2026
# Description: The html file that helps in showing one post in our mini insta -->

{% extends 'mini_insta/base.html' %}
{% block content %}

<main class="search-results-page">

    <h1>Post</h1>

   
    <div class="result-card">

        <p><strong>Likes: {{post.get_likes.count}}</strong></p>

        <p>{{ post.caption }}</p>
        <p><small>{{post.timestamp}}</small></p>

    </div>

    
    <div class="results-section">
        <h3>Photos</h3>

        <div class="results-grid">
            {% for photo in post.get_all_photos %}
                <img src="{{ photo.get_image_url }}">
            {% endfor %}
        </div>
    </div>

  
    <div class="results-section">

        <h3>Comments</h3>

        {% for comment in post.get_all_comments %}
            <div class="result-card">
                <strong>{{ comment.profile }}</strong>
                <p>{{ comment.text }}</p>
                <small>{{ comment.timestamp }}</small>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}

    </div>

  
    <div class="form-actions">

    <a href="{% url 'show_profile' post.profile.pk %}" class="btn">
        Back to Profile
    </a>

    <a href="{% url 'update_post' post.pk %}" class="btn">
        Update Post
    </a>

    <a href="{% url 'delete_post' post.pk %}" class="btn cancel-link">
        Delete Post
    </a>

</div>

</main>

{% endblock %}