<!-- 
Karachi Onwuanibe
karachio@bu.edu

description:
mini_insta/show_feed.html 
    display the feed for the mini insta.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="search-results-page">

    <h1>{{ profile.display_name }}'s Feed</h1>

    <a class="back-link" href="{% url 'profile' %}">
        Back to Profile
    </a>

    <div class="results-section">

        {% for post in profile.get_post_feed %}

            <div class="result-card">

                
                <div class="feed-author">
                    {% if post.profile.profile_image_url %}
                        <img src="{{post.profile.profile_image_url}}" width="60">
                    {% endif %}

                    <p><strong>{{ post.profile.display_name }}</strong></p>
                    <p>@{{post.profile.username}}</p>
                </div>

                
                <div class="post-content">
                    <p>{{post.caption}}</p>
                    <p><small>{{post.timestamp}}</small></p>
                </div>

              
                <div class="results-grid">
                    {% for photo in post.get_all_photos %}
                        <img src="{{photo.get_image_url}}">
                    {% endfor %}
                </div>

            </div>

        {% empty %}

            <p>No posts in your feed yet.</p>

        {% endfor %}

    </div>

</main>

{% endblock %}