<!--
# File: show_post.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/28/2026
# Description: The html file that helps in showing one post in our mini insta -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Posts</h1>


<div class="post-details">
    <p>{{ post.caption }}</p>
    <p>{{ post.timestamp }}</p>
</div>


<div class="post-actions">
    <a href="{% url 'update_post' post.pk %}">Update Post</a>
    <br><br>
    <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
</div>




<div class="post-photos">
    {% for photo in post.get_all_photos %}
        <img src="{{ photo.get_image_url }}">
        <br>
    {% endfor %}
</div>

{% endblock %}