<!--
# File: show_profile.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/26/2026
# Description: The html file that helps in showing one profile in our mini insta that contains the
bio, the date created, the username and then to display name.-->

{% extends 'mini_insta/base.html' %}
<h1>{{profiles.title}}</h1>
 
 
{% block content %}
<main class="grid-container">
    
    <article class="featured">
        {% if profiles.profile_image_url %}
		<img src="{{profiles.profile_image_url}}" alt="{{profiles.profile_image_url}}">
		{% endif %}
        
        <div>
        <h2>{{profiles.username}}</h2>
        <strong>by {{profiles.display_name}} at {{profiles.join_date}}</strong>
        <br></br>
        <strong>Bio: {{profiles.bio_text}}</strong>
        <p>
            <h3>
                <a href="{% url 'update_profile' profiles.pk %}">Update Profile</a>
            </h3>
        </p>
        </div>

        {% for post in profiles.get_all_posts %}

    <div class="post">

        <a href="{% url 'show_post' post.pk %}">

            {% if post.get_all_photos %}
                <img src="{{post.get_all_photos.0.get_image_url}}">
            {% else %}
                <img src="https://cs-people.bu.edu/karachio/images/No_Image_Available.jpg">
            {% endif %}

            <p>{{post.caption}}</p>

        </a>

    </div>

{% endfor %}
    </article>
 
 
</main>
{% endblock %}