<!--
# File: show_all_profiles.html
# Author: Karachi Onwuanibe (karachio@bu.edu), 5/26/2026
# Description: The html file that helps in showing all profiles in our mini insta that contains needed
information like image, username and date joined.-->

{% extends 'mini_insta/base.html' %}
<h1>Showing all Profiles</h1>
<!-- scriptlet code to display the value of the variable `profiles` 
{{ profiles }}
-->
{% block content %}
<main class="grid-container">
 
 
    {% for a in profiles %}
    <profile>
 
 
        {% if a.profile_image_url %}
        <a href="{% url 'show_profile' a.pk %}">
        <img src="{{a.profile_image_url}}" alt="{{a.profile_image_url}}">
        </a>
        {% endif %}
        
        <div>
        <h2>{{a.username}}</h2>
        
    
        <strong>{{a.display_name}} created at {{a.join_date}}</strong>
        <p>
        </p>
        </div>
    </profile>
 
 
    {% endfor %}
</main>
{% endblock %}